:root {
  --color-white: #f3f3f3;
  --color-darkblue: #1b1b32;
  --color-darkblue-alpha: rgba(27, 27, 50, 0.8);
  --color-green: #37af65;
}
* {
  font-family: "Quicksand", sans-serif;
  box-sizing: border-box;
}

body {
  background: var(--color-darkblue);
  color: var(--color-white);
  padding: 0 2em;
  line-height: 1.4;
}

.contenedor {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em;
  align-items: center;
}

#title {
  text-align: center;
  font-size: 3.5em;
}

#title span {
  color: red;
}

#description {
  text-align: center;
  font-size: 1.5em;
}

#survey-form {
  box-shadow: 0 0 20px 0 white;
  padding: 1.4em;
  background: #222;
  display: block;
  align-items: center;
  justify-content: center;
}
form {
  display: block;
  margin-top: 0em;
  font-size: 1.5em;
}
.form-group {
  margin: 0 auto 1.25rem auto;
  padding: 0.25rem;
}

.form input {
  width: 90%;
  height: 30px;
  margin: 0.5rem;
}
label {
  display: flex;
  align-items: center;
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
}
input {
  writing-mode: horizontal-tb !important;
  font-size: 1em;
}

#submit {
  background: black;

  color: red;
}
.input-textarea {
    min-height: 120px;
    width: 100%;
    padding: 0.625rem;
    resize: vertical;
}
textarea {
  writing-mode: horizontal-tb !important;
  font-style: ;
  font-variant-ligatures: ;
  font-variant-caps: ;
  font-variant-numeric: ;
  font-variant-east-asian: ;
  font-weight: ;
  font-stretch: ;
  font-size: ;
  font-family: monospace;
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  -webkit-rtl-ordering: logical;
  resize: auto;
  cursor: text;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
  column-count: initial !important;
  margin: 0em;
  border-width: 1px;
  border-style: solid;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
  padding: 2px;
}

.input-radio,
.input-checkbox {
  display: inline-block;
  margin-right: 0.625rem;
  min-height: 1.25rem;
  min-width: 1.25rem;
}

input[type="checkbox" i] {
  background-color: initial;
  cursor: default;
  appearance: auto;
  box-sizing: border-box;
  margin: 3px 3px 3px 4px;
  padding: initial;
  border: initial;
}
