* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #ece8e1;
  font-family: "roboto", san-serif;
  color: white;
}

#contenedor {
  width: 100%;
  max-width: 1920px;
  margin: 20px auto;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, auto);

  grid-template-areas:
    "header header"
    "img-div img-div"
    "tribute-info foto"
    "tribute-link tribute-link"
    "footer footer";
}
#contenedor div,
header,
sidebar {
  background: #ff4655;
  padding: 25px;
  border-radius: 4px;
  text-align: end;
}

#contenedor header {
  background: black;
  color: white;
  grid-area: header;
}

#contenedor img-div {
  grid-area: img-div;
}

#contenedor tribute-info {
  grid-area: tribute-info;
}

#fviper {
  grid-area: foto;
}
#contenedor tribute-link {
  grid-area: tribute-link;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: red;
}

#contenedor footer {
  background: #233e81;
  padding: 20px;
  border-radius: 4px;
  grid-area: footer;
}
